* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

.card-title:hover {
  text-decoration: underline; }

.card:hover {
  cursor: pointer;
  border-color: black; }

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  border-radius: 50px;
  background-color: white; }

.btn-wsp:hover {
  background-color: black;
  width: 90px;
  height: 90px; }

.ig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .ig-btn {
    width: 30px;
    height: 30px;
    margin: 5px; }
  .ig-texto {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #302e2e;
    letter-spacing: 5px;
    margin: 5px; }

.contenedor {
  display: flex;
  justify-content: center;
  margin: 15px; }
  .contenedor-texto {
    color: #575656;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-right: 25px;
    margin-left: 25px;
    text-decoration: none; }

.contenedor-texto:hover {
  color: #a8a3a3; }

.wsp {
  display: flex;
  justify-content: center;
  margin-top: 30px; }
  .wsp-img {
    width: 20px;
    height: 20px; }
  .wsp-numero {
    text-decoration: none;
    color: #575656;
    font-size: 15px;
    margin-left: 5px;
    margin-bottom: 10px; }

.footer-numero:hover {
  color: #a8a3a3; }
